.landing-page--button-hovered {
  .landing-page {
    &__rectangle {
      @include atMedium {
        transform: translate(-50%, -240px) rotate(45deg);
      }

      @include atLarge {
        transform: translate(-50%, -255px) rotate(45deg);
      }
    }

    &__circles {
      & {
        transform: translate(-50%, -175px);
      }

      &:before {
        left: 20px;
        transform: rotate(-45deg) scale(.98);
      }

      &:after {
        right: 20px;
        transform: rotate(45deg) scale(.98);
      }
    }

    &__button {
      background-color: #222;
      color: #eee;
      padding: 10px 90px;

      @include atSmall {
        padding: 11px 115px;
      }

      @include atMedium {
        padding: 11px 125px;
      }

      @include atLarge {
        padding: 11px 140px;
      }
    }
  }
}

.landing-page--button-ie-hovered {
  .landing-page {
    &__button {
      background-color: #222;
      color: #eee;
      padding: 10px 90px;

      @include atSmall {
        padding: 11px 115px;
      }

      @include atMedium {
        padding: 11px 125px;
      }

      @include atLarge {
        padding: 11px 140px;
      }
    }
  }
}
