.page {
  & {
    background-color: #111;
    padding-bottom: 80px;
    width: 100%;
  }

  &__title {
    & {
      color: #fff;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: .5px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: scale(2) translateY(-50%);
      transition: top 1s ease, transform 1s ease;
      width: 100%;

      @include atSmall {
        font-size: 40px;
      }

      @include atMedium {
        font-size: 50px;
      }
    }

    &--transition {
      top: 50px;
      transform: scale(1) translateY(0);
    }
  }

  &__content {
    color: #fff;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 120px;

    @include atSmall {
      padding-top: 140px;
    }

    @include atMedium {
      padding-top: 160px;
    }
  }

  &__bottom-navigation {
    & {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 80px;
    }

    a {
      & {
        color: #fff;
        font-family: "Raleway", arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0 12px;
        text-transform: uppercase;
        transition: color .4s ease;
      }

      &:hover, &:focus, &:active {
        color: #ddd;
      }
    }
  }
}
