.welcome-page {
  & {
    background-image: url('/static/images/skyline--1920x1080.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  &__title {
    color: #222;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0;
    padding-top: 10vh;
    text-transform: uppercase;
  }
}
