.language-switch {
  & {
    background-color: #fff;
    border: 1px solid #111;
    display: flex;
    flex-direction: row;
    height: 19px;
    outline: none;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 80px;
  }

  * {
    cursor: pointer;
  }

  &__language {
    background-color: #fff;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 50%;
  }

  &__selected-cover {
    & {
      background-color: #000;
      height: 17px;
      opacity: .4;
      position: absolute;
      top: 0;
      transition: left .3s ease;
      width: 50%;
      z-index: 2;
    }

    &--left {
      left: 0;
    }

    &--right {
      left: 50%;
    }
  }
}
