.square-transition {
  & {
    background-image: url('/static/images/square-transition-small.jpg');
    background-repeat: repeat-x;
    background-size: auto 400px;
    height: 400px;
    margin-bottom: -1px;
  }
}
