.wrapper {
  & {

  }

  &--full-height {
    min-height: 100vh;
  }

  &--at-top {
    padding-top: 120px;

    @include atSmall {
      padding-top: 140px;
    }

    @include atMedium {
      padding-top: 160px;
    }
  }

  &--light {
    background-color: #ddd;
  }

  &__content {
    margin: 0 auto;
    text-align: center;
  }
}
