* {
  box-sizing: border-box;
  font-family: "Lato", arial, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  text-decoration: none;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
}

div, li, ul, ol, p, h1, h2, h3, h4, h5 {
    cursor: default;
    font: inherit;
    vertical-align: baseline;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  font-weight: 600;
}
